# Interface web
flask
python-dotenv

# Scraping
requests
beautifulsoup4
trafilatura

# LLM / Orchestration
langchain
langchain-groq

# NLP
nltk
# LLM / Orchestration
langchain
langchain-groq